# macOS
.DS_Store
**/.DS_Store

# local data

dataset_raw/*.json

# python
__pycache__/
*.pyc
*.pyo
.venv/
.env
.ipynb_checkpoints/

# logs
*.log
student_model/.env
.env


# training checkpoints
checkpoint-*/
*/checkpoint-*/

# pytorch training state
*.pt
*.pth
*.bin

# large model files
*.safetensors

# logs
trainer_log_history.json

# plots
*.png
